<!-- New Character Form -->
<form action="/addRemoveCharacters?action=add" method="post">
    <fieldset class="form-control">
        <legend>Add Character</legend>
        <div class="row mb-3">
            <div class="col-4">
                <label for="newName" class="form-label">Name:</label>
                <input type="text" name="name" id="newName" class="form-control" placeholder="Character Name" maxlength="255" required>
            </div>
            <div class="col-1">
                <label for="health" class="form-label">Health:</label>
                <input type="number" name="health" id="health" class="form-control" placeholder="health" value="0" required>
            </div>
            <div class="col-1">
                <label for="enemiesKilled" class="form-label">Enemies Killed:</label>
                <input type="number" name="enemiesKilled" id="enemiesKilled" class="form-control" value="0" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1">
                <label for="magic" class="form-label">Magic Points:</label>
                <input type="number" name="magic" id="magic" class="form-control" value="0" required>
            </div>
            <div class="col-1">
                <label for="strength" class="form-label">Strength:</label>
                <input type="number" name="strength" id="strength" class="form-control" value="0" required>
            </div>
            <div class="col-1">
                <label for="money" class="form-label">Money:</label>
                <input type="number" name="money" id="money" class="form-control" value="0" required>
            </div>
            <div class="col-1">
                <label for="regionID" class="form-label">Region ID:</label>
                <select name="regionID" id="regionID" class="form-select">
                    <% regionIDs.forEach(row => { %>
                        <option value="<%= row.regionID %>"> <%= row.regionID %>: <%= row.name %> </option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <button type="submit" class="btn btn-primary">Add New Character</button>
            </div>
        </div>
    </fieldset>
</form>

<% if (result !== null) {%>
<p> <%= result %></p>
<% } %>

<!-- Remove Character Form -->

<form action="/addRemoveCharacters?action=delete" method="post">
    <fieldset class="form-control">
        <legend>Remove Character</legend>
        <div class="row mb-3">
            <div class="col-1">
                <label for="charID" class="form-label">Character ID:</label>
                <select name="characterID" id="charID" class="form-select" required>
                    <% characterIDs.forEach(row => { %>
                        <option value="<%= row.characterID %>"> <%= row.characterID %>: <%= row.name%> </option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-danger">Remove Character</button>
            </div>
        </div>
    </fieldset>
</form>
