<!-- Alter Spell Form -->

<form action="/spells/alterSpells" method="post">
    <fieldset class="form-control">
        <legend>Alter Spell</legend>
        <div class="row mb-3">
            <div class="col-2">
                <label for="spellID" class="form-label">Spell ID:</label>
                <select name="spellID" id="spellID" class="form-select" required>
                    <% spellIDs.forEach(row => { %>
                        <option value="<%= row.spellID %>"> <%= row.spellID %>: <%= row.name %> </option>
                    <% }); %>
                </select>
            </div>
            <div class="col-4">
                <label for="name" class="form-label">Name:</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Spell Name" maxlength="255">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <label for="buyCost" class="form-label">Purchase Cost:</label>
                <input type="number" name="buyCost" id="buyCost" class="form-control" min="0">
            </div>
            <div class="col-2">
                <label for="upgradeCost" class="form-label">Upgrade Cost:</label>
                <input type="number" name="upgradeCost" id="upgradeCost" class="form-control" min="0">
            </div>
            <div class="col-2">
                <label for="strength" class="form-label">Strength:</label>
                <input type="number" name="strength" id="strength" class="form-control" min="0">
            </div>
            <div class="col-2">
                <label for="character" class="form-label">Character ID:</label>
                <select name="characterID" id="characterID" class="form-select">
                    <option></option>
                    <% characterIDs.forEach(row => { %>
                        <option value="<%= row.characterID %>"> <%= row.characterID %>: <%= row.name %> </option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Alter Spell</button>
            </div>
        </div>
    </fieldset>
</form>

<% if (result !== null) {%>
    <h4> <%= result %></h4>
<% } %>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', autofill);

    document.getElementById('spellID').addEventListener('change', async function (event) {
        var payload = {}
        payload.spellID = document.getElementById('spellID').value;
        fetch('/spells/alterSpells/autofill', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            document.getElementById('name').value = data.spell.name;
            document.getElementById('buyCost').value = data.spell.buyCost;
            document.getElementById('upgradeCost').value = data.spell.upgradeCost;
            document.getElementById('strength').value = data.spell.strength;
            document.getElementById('characterID').value = data.spell.characterID;
            event.preventDefault();
        }).catch((error) => {
            console.error('Error: ', error);
        });
    })

    function autofill() {
        var payload = {}
        payload.spellID = document.getElementById('spellID').value;
        fetch('/spells/alterSpells/autofill', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            document.getElementById('name').value = data.spell.name;
            document.getElementById('buyCost').value = data.spell.buyCost;
            document.getElementById('upgradeCost').value = data.spell.upgradeCost;
            document.getElementById('strength').value = data.spell.strength;
            document.getElementById('characterID').value = data.spell.characterID;
            event.preventDefault();
        }).catch((error) => {
            console.error('Error: ', error);
        });
    }
</script>