<!-- Assign Enemy to Region Form-->
<form>
    <fieldset class="form-control">
        <legend>Assign Enemy to Region</legend>
        <div class="row mb-3">
            <div class="col-2">
                <label for="enemyID" class="form-label">Enemy ID:</label>
                <select class="form-select" id="enemyID">
                  <% enemyIDs.forEach(function(enemy) { %>
                    <option> <%= enemy.enemyID %>: <%= enemy.name %> </option>
                 <% }) %>
                </select>
            </div>
            <div class="col-2">
                <label for="regionID" class="form-label">Region ID:</label>
                <select class="form-select" id="regionID">
                  <% regionIDs.forEach(function(region) { %>
                    <option> <%= region.regionID %>: <%= region.name %> </option>
                 <% }) %>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary" id="addbutton">Submit</button>
            </div>
        </div>
    </fieldset>
</form>

<!-- Remove Enemy from Region -->
<form>
    <fieldset class="form-control">
        <legend>Remove Enemy from Region</legend>
        <div class="row mb-3">
            <div class="col-2">
                <label for="enemyID" class="form-label">Enemy ID:</label>
                <select class="form-select" id="removeenemyID">
                  <% enemyIDs.forEach(function(enemy) { %>
                    <option> <%= enemy.enemyID %>: <%= enemy.name %> </option>
                 <% }) %>
                </select>
            </div>
            <div class="col-2">
                <label for="regionID" class="form-label">Region ID:</label>
                <select class="form-select" id="removeregionID">
                  <% regionIDs.forEach(function(region) { %>
                    <option> <%= region.regionID %>: <%= region.name %> </option>
                 <% }) %>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-danger" id="removebutton">Submit</button>
            </div>
        </div>
    </fieldset>
</form>

<!-- Region Search Bar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <form method="POST" action="/RegionEnemies?regionSearch=true">
                <fieldset>
                    <div class="row mb-3">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Search Regions by Name..." name="regionNameSearch">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

<!-- Enemy Search Bar -->
        <div class="col-6">
            <form method="POST" action="/RegionEnemies?enemySearch=true">
                <fieldset>
                    <div class="row mb-3">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Search Enemies by Name..." name="enemyNameSearch">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!-- Regions Table -->
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <table class="table caption-top table-striped table-hover">
                <caption>Current Regions</caption>
                <thead>
                <tr>
                    <th>Region ID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <% regions.forEach(function(region) { %>
                    <tr>
                        <td> <%= region.regionID %> </td>
                        <td> <%= region.name %> </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>

<!-- Enemies Table -->
        <div class="col-5">
            <table class="table caption-top table-striped table-hover">
                <caption>Current Enemies</caption>
                <thead>
                <tr>
                    <th>Enemy ID</th>
                    <th>Name</th>
                    <th>Health</th>
                    <th>Strength</th>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Drop Chance</th>
                    <th>Money</th>
                </tr>
                </thead>
                <tbody>
                <% enemies.forEach(function(enemy) { %>
                    <tr>
                        <td> <%= enemy.enemyID %> </td>
                        <td> <%= enemy.enemyName %> </td>
                        <td> <%= enemy.health %> </td>
                        <td> <%= enemy.strength %> </td>
                        <td> <%= enemy.itemID %> </td>
                        <td> <%= enemy.itemName %> </td>
                        <td> <%= enemy.dropChance %> </td>
                        <td> <%= enemy.money %> </td>
                    </tr>
                <% }) %>
                </tbody>    
            </table>
        </div>

<!-- Enemies in Regions Table -->
        <div class="col-4">
            <table class="table caption-top table-striped table-hover">
                <caption>Enemies in Regions</caption>
                <thead>
                <tr>
                    <th>Enemy ID</th>
                    <th>Enemy Name</th>
                    <th>Region ID</th>
                    <th>Region Name</th>
                </tr>
                </thead>
                <tbody>
                <% joins.forEach(function(join) { %>
                    <tr>
                        <td> <%= join.enemyID %> </td>
                        <td> <%= join.enemyName %> </td>
                        <td> <%= join.regionID %> </td>
                        <td> <%= join.regionName %> </td>
                    </tr>
                <% }) %>
                </tbody>  
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    
document.getElementById('addbutton').addEventListener('click', async function(event){
    var req = new XMLHttpRequest();
    // CREATING JSON OBJECT TO SEND AS POST REQUEST
    var payload = {enemyID: null, regionID: null};
    payload.enemyID = document.getElementById('enemyID').value[0];
    payload.regionID = document.getElementById('regionID').value[0];
    req.open('POST', '/RegionEnemies?action=add');
    req.setRequestHeader('Content-Type', 'application/json');

    // PARSING RESPONSE SENT FROM SERVER
    req.addEventListener('load', function() {
        if(req.status >= 200 && req.status < 400){
            console.log('req sent')
        }
    });

    // SENDING JSON STRING AS POST REQUEST
    req.send(JSON.stringify(payload));
})

document.getElementById('removebutton').addEventListener('click', async function(event){
    var req = new XMLHttpRequest();
    // CREATING JSON OBJECT TO SEND AS POST REQUEST
    var payload = {enemyID: null, regionID: null};
    payload.enemyID = document.getElementById('removeenemyID').value[0];
    payload.regionID = document.getElementById('removeregionID').value[0];
    console.log(payload.enemyID, payload.regionID)
    req.open('POST', '/RegionEnemies?action=delete');
    req.setRequestHeader('Content-Type', 'application/json');

    // PARSING RESPONSE SENT FROM SERVER
    req.addEventListener('load', function() {
        if(req.status >= 200 && req.status < 400){
            console.log('req sent')
        }
    });

    // SENDING JSON STRING AS POST REQUEST
    req.send(JSON.stringify(payload));
})
</script>